.area {
  margin: 113px 0 100px;
}
.area__titles {
  text-align: center;
}
.area__title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 15px;
}
.area__span {
  font-size: 23px;
  color: #C0C0C0;
}
.area__grids {
  margin-top: 42px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 16px;
}
.area__grid {
  position: relative;
}
.area__grid-img {
  position: absolute;
  z-index: -1;
}
.area__grid-text {
  padding: 421px 0 0 30px;
}
.area__grid-title {
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 4px;
  font-size: 14px;
  color: #fff;
}
.area__grid-txt {
  margin: 15px 0;
  width: min(501px, 100%);
  font-size: 14px;
  color: #C0C0C0;
}
.area__grid-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  width: min(143px, 100%);
  padding: 5px 0 5px 4px;
  border-radius: 14px;
  background: #fff;
}
.area__grid-span {
  font-size: 15px;
  color: #000;
}