.monstera {
  position: relative;
}
.monstera__img {
  width: 100%;
  position: absolute;
  margin-top: -8.3px;
  z-index: -1;
}
.monstera__titles {
  padding: 270px 62px 0 1080px;
}
.monstera__title {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.monstera__txt {
  width: min(273px, 100%);
  font-size: 14px;
  color: #C0C0C0;
  font-weight: 400;
}
.monstera__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 220px 0 40px 1020px;
  gap: 16px;
}
.monstera__other-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  gap: 6px;
}
.monstera__other-span {
  font-size: 12px;
  color: #fff;
}