.nav {
  padding: 24px 0;
  background: #181818;
}
.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.nav__link {
  font-size: 15px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav__link:hover {
  padding: 10px 20px;
  background: #fff;
  color: #000;
  border-radius: 14px;
}