.need {
  padding: 113px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.need__title {
  width: min(571px, 100%);
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}
.need__span {
  font-weight: 400;
  font-size: 24px;
  color: #C0C0C0;
  margin: 15px 0 22px;
}
.need__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  width: min(143px, 100%);
  padding: 5px 0 5px 4px;
  border-radius: 14px;
  background: #fff;
}
.need__link-txt {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}