.past__titles {
  margin: 120px 0 80px;
  text-align: center;
}
.past__title {
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}
.past__span {
  font-weight: 400;
  font-size: 24px;
  color: #C0C0C0;
}
.past__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}