.sunset {
  position: relative;
}
.sunset__img {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.sunset__text {
  padding: 270px 62px 0 1080px;
}
.sunset__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.sunset__txt {
  width: min(298px, 100%);
  font-size: 14px;
  color: #C0C0C0;
}
.sunset__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 220px 0 40px 1020px;
  gap: 16px;
}
.sunset__other-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  gap: 6px;
}
.sunset__other-span {
  font-size: 12px;
  color: #fff;
}