.tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tool__text {
  width: min(595px, 100%);
  margin: 173px 106px 153px 100px;
}
.tool__span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  color: #C0C0C0;
}
.tool__title {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}
.tool__txt {
  width: min(514px, 100%);
  font-size: 14px;
  color: #fff;
  margin: 14px 0 20px;
}
.tool__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  width: min(143px, 100%);
  padding: 5px 0 5px 4px;
  border-radius: 14px;
  background: #fff;
}
.tool__link-span {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.tool__images {
  margin-top: 3px;
  position: relative;
}
.tool__img {
  position: absolute;
  z-index: -1;
}
.tool__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin: 484px 0 40px 415px;
}
.tool__other-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  gap: 6px;
}
.tool__other-span {
  font-size: 12px;
  color: #fff;
}