.area {
    margin: 113px 0 100px;

    &__titles {
        text-align: center;
        margin-bottom: 42px;
    }

    &__title {
        font-size: 40px;
        color: #fff;
        margin-bottom: 15px;
    }

    &__span {
        font-size: 23px;
        color: #C0C0C0;
    }

    &__grids {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 16px;
    }

    &__grid {
        position: relative;

        &-img {
            position: absolute;
            z-index: -1;
        }

        &-text {
            padding: 421px 0 30px 30px;
        }

        &-title {
            text-transform: uppercase;
            line-height: 20px;
            letter-spacing: 4px;
            font-size: 14px;
            color: #fff;
        }

        &-txt {
            margin: 15px 0;
            width: min(501px, 100%);
            font-size: 14px;
            color: #C0C0C0;
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 6px;
            width: min(143px, 100%);
            padding: 5px 0 5px 4px;
            border-radius: 14px;
            background: #fff;
        }

        &-span {
            font-size: 15px;
            color: #000;
        }
    }
}