.footer {

    &__rek {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
    }

    &__txt {
        font-weight: 400;
        font-size: 13px;
        color: #C0C0C0;
        margin-top: 20px;
    }

    &__lists {
        display: flex;
        gap: 60px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-title {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 2px;
            color: #C0C0C0;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        color: #fff;
    }

    &__cen {
        padding: 36px 0;
        display: flex;
        justify-content: space-between;

        &-line {
            width: 100%;
            height: 2px;
            background: #fff;
        }

        &-title {
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
            margin-bottom: 15px;
        }

        &-span {
            font-weight: 400;
            font-size: 13px;
            color: #C0C0C0;
        }

        &-inputs {
            position: relative;
            width: min(458px, 100%);
        }

        &-input {
            width: 100%;
            height: 100%;
            padding: 0 80px 0 20px;
            border-radius: 12px;
            border: 1px solid #E5E7EB;
            outline: none;

            &-black {
                position: absolute;
                top: 15px;
                left: 385px;
                width: 63px;
                height: 30px;
                border-radius: 11px;
                background: #000;
            }
        }
    }

    &__end {
        margin: 56px 0 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-txt {
            font-weight: 400;
            font-size: 14px;
            color: #C0C0C0;
        }

        &-images {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}