.header {
    position: relative;

    &__banner {
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    &__big {
        padding-top: 460px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &-span {
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            color: #C0C0C0;
        }

        &-title {
            font-size: 54px;
            color: #fff;
        }

        &-txt {
            width: min(580px, 100%);
            margin-top: 18px;
            font-size: 14px;
            color: #C0C0C0;
        }
    }

    &__other {
        display: flex;
        justify-content: end;
        gap: 16px;
        padding-right: 40px;

        &-on {
            display: flex;
            align-items: self-end;
            gap: 6px;
        }
        
        &-span {
            font-size: 12px;
            color: #fff;
        }
    }
}