.nav {
    padding: 24px 0;
    background: #181818;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__link {
        font-size: 15px;
        color: #fff;
        transition: .4s;
    }

    &__link:hover {
        padding: 10px 20px;
        background: #fff;
        color: #000;
        border-radius: 14px;
    }
}