.need {
    padding: 113px 0 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    &__title {
        width: min(571px, 100%);
        font-weight: 400;
        font-size: 40px;
        color: #fff;
    }

    &__span {
        font-weight: 400;
        font-size: 24px;
        color: #C0C0C0;
        margin: 15px 0 22px;
    }


    &__link {
        display: flex;
        align-items: center;
        gap: 6px;
        width: min(143px, 100%);
        padding: 5px 0 5px 4px;
        border-radius: 14px;
        background: #fff;

        &-txt {
            font-weight: 400;
            font-size: 16px;
            color: #000;
        }
    }
}