.tool {
    display: flex;

    &__text {
        width: min(595px, 100%);
        margin: 173px 106px 153px 100px;
    }

    &__span {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        color: #C0C0C0;
    }

    &__title {
        font-weight: 400;
        font-size: 28px;
        color: #fff;
    }

    &__txt {
        width: min(514px, 100%);
        font-size: 14px;
        color: #fff;
        margin: 14px 0 20px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 6px;
        width: min(143px, 100%);
        padding: 5px 0 5px 4px;
        border-radius: 14px;
        background: #fff;

        &-span {
            font-weight: 400;
            font-size: 16px;
            color: #000;
        }
    }

    &__images {
        margin-top: 3px;
        position: relative;
    }

    &__img {
        position: absolute;
        z-index: -1;
    }

    &__other {
        display: flex;
        gap: 16px;
        margin: 484px 0 40px 415px;

        &-on {
            display: flex;
            align-items: self-end;
            gap: 6px;
        }
        
        &-span {
            font-size: 12px;
            color: #fff;
        }
    }
}