* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background: #000;
}

.container {
    width: min(1200px, 100%);
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}