@import url(font.css);
@import url(common.css);

/* components */

@import url(../css/nav.css);
@import url(../css/header.css);
@import url(../css/area.css);
@import url(../css/sunset.css);
@import url(../css/tool.css);
@import url(../css/monstera.css);
@import url(../css/past.css);
@import url(../css/star.css);
@import url(../css/need.css);
@import url(../css/footer.css);